<mat-nav-list>
  <a mat-list-item routerLink="/status" (click)="onSidenavClose()">
    <mat-icon>info</mat-icon>
    <span class="nav-elem">Status</span>
  </a>
  <a *ngIf="!isAuth" mat-list-item routerLink="/signup" (click)="onSidenavClose()">
    <mat-icon>person_add</mat-icon>
    <span class="nav-elem">Signup</span>
  </a>
  <a *ngIf="!isAuth" mat-list-item routerLink="/login" (click)="onSidenavClose()">
    <mat-icon>person</mat-icon>
    <span class="nav-elem">Login</span>
  </a>
  <mat-list-item *ngIf="isAuth">
    <button mat-icon-button (click)="onLogout()">
      <mat-icon>eject</mat-icon>
      <span class="nav-elem">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>