/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

/* Reset style */
* {
  font-family: 'Nunito', sans-serif;
}

html {
  height: 100%
}

body {
  background-color: dimgrey;
  margin: 0;
  height: 100%;
}
/* End reset style */